---
---
<div class="avatar">
  <img 
    src="/image.png" 
    width="200" 
    height="200"
  />
</div>

<style>
  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .avatar img {
    border-radius: 2%;
    border: 1px solid var(--picture-border);
    box-shadow: var(--primary-glow);
  }
</style>
